<h1>Tell me about yourself</h1>
<form action="/" method="POST">
  <div> What is your name?</div>
  <input type="text" name="name">
  <div> What language do you want to translate to?</div>
  <select name="language">
  <option value="English">English</option>
  <option value="French">French</option>
  <option value="Spanish">Spanish</option>
  </select>
  <div>
  <input type="submit" value="save my options">
</form>
