<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <a href=/lang>Lang Selector</a>
      <a href=/>Home</a>
    </nav>

    <%= yield %>
  </body>
</html>
