<h1>Please select your preferred color</h1>

<form action="/color_picker" method="POST">
  Select:
  <input type="color" name="favcolor" value=<%= session[:preferred_color]%>>
  <input type ="submit">
</form>
