<h1>Example of deleting a user</h1>
<!-- by default, before REST, we only used GET and POST -->
<!-- since the idea of REST was born, we now have 4 verbs, GET , POST, PATCH, and DELETE -->

<form action="/user" method="POST">
  <input type="hidden" name="_method" value="DELETE">
</form>
