<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Team Randomizer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.css">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
<style>
  body {

    background: url('http://wallpapercave.com/wp/FLVWgyq.jpg');
  }

  h1,h2,p{
    color: white;
  }

</style>
