<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contactme">Contact Me</a>
    

    <%= yield %>
<!-- embedded ruby = erb  -->
<!-- yield allows us to put html into our template -->
    <!-- to render out to the page , put the = sign  -->
  </body>
</html>
